[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout
	who = blame
[user]
	name = Todd Kennedy
	email = todd@selfassembled.org
	signingKey = 63171C7DE7BB9A30ADD22B1665F7E40DBD3691D8
[difftool]
	prompt = false
[mergetool]
	prompt = false
[merge "npm-merge-driver"]
	name = automatically merge npm lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P
[core]
	excludesFile = /home/todd/.gitignore
	pager = delta --theme='Dracula'
[pull]
	rebase = true
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[commit]
	gpgsign = true
[github]
	user = toddself
