[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule "vim/bundle/vim-git"]
	path = vim/bundle/vim-git
	url = git@github.com:tpope/vim-git
[submodule "vim/bundle/vim-mustache-handlebars"]
	path = vim/bundle/vim-mustache-handlebars
	url = git://github.com/mustache/vim-mustache-handlebars.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git@github.com:tpope/vim-markdown
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-preview"]
	path = vim/bundle/vim-preview
	url = https://github.com/greyblake/vim-preview
[submodule "vim/bundles/snipmate"]
	path = vim/bundles/snipmate
	url = git@github.com:msanders/snipmate.vim
