# personal
Host toddifer
  HostName travelshus.com
  User ubuntu
  IdentityFile ~/.ssh/toddifer.pem
Host mail
  HostName mail.selfassembled.org
  User ubuntu
  IdentityFile ~/.ssh/id_rsa

# scripto owned
Host scripto-dev
  HostName 10.10.1.101
  User todd
  IdentityFile ~/.ssh/id_rsa
Host scripto-linode
  HostName 173.255.193.245
  User todd
  IdentityFile ~/.ssh/id_rsa
Host scripto
  HostName 192.168.174.129
  IdentityFile ~/.ssh/id_rsa
  User todd

