Host barnstormer
  identityfile ~/.ssh/tk_key.pem
  hostname barnstormer.selfassembled.org
  user ubuntu
Host conde-migration
  hostname cntmig-ci-srv01.conde.io
  user tkennedy
  IdentityFile ~/.ssh/id_rsa
Host toddifer
  HostName travelshus.com
  User ubuntu
  IdentityFile ~/.ssh/toddifer.pem
Host mail
  HostName mail.selfassembled.org
  User ubuntu
  IdentityFile ~/.ssh/id_rsa
Host scripto-dev
  HostName 10.10.1.101
  User todd
  IdentityFile ~/.ssh/id_rsa
Host scripto-linode
  HostName 173.255.193.245
  User todd
  IdentityFile ~/.ssh/id_rsa
Host colbert-prod
  HostName 10.10.1.100
  IdentityFile ~/.ssh/id_rsa
Host scripto
  User todd 
  HostName 192.168.153.128
  IdentityFile ~/.ssh/id_rsa
